* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-screen {
    width: 100%;
    height: auto;
    background-image: url("images/screen.jpg");
    position: absolute;
}

.wrapper {
  overflow: hidden;
}

.sliding-background {
    width: 1362px;
    height: 482px;
    background: url("images/space_background.jpg") repeat-x;
    animation: slide 10s linear infinite;
}

.game-container {
    width: 454px;
    height: 482px;
    position: absolute;

    overflow: hidden;
}

.obstacle {
  --obstacle-size: 50px;
  position: absolute;
  left: 100%;

  width: var(--obstacle-size);
  height: var(--obstacle-size);

  background: green;
}

.start-game {
  --width: 122px;

  position: absolute;

  top: 50%;
  left: calc(50% - (var(--width)/2));
}

/*
.sky {
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    background-color: brown;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
} */

.bird {
    --bird-width: 60px;
    position: absolute;
    left: calc(50% - (var(--bird-width)/2));
    width: var(--bird-width);
    height: 33px;

    background-image: url("images/UFO_spaceship.png");
}

/*
I will set the place of the gap randomly.
To do that:
    - set a minimum and maximum position (16px, 16px)
    - set the gap size (50 px)
    - set the list of possible gap places (divide by 10px, result: 40)
    - randomize
    - calculate pipe length
    - write js DOM manipulation
 */
/* 
.upper_pipe {
    background: url("images/upper_pipe.png");
    animation: slide 10s linear infinite;
    position: relative;
    bottom: 66px;
}

.lower_pipe {
    background: url("images/lower_pipe.png");
    animation: slide 10s linear infinite;
    position: relative;
    top: 66px;
} */

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-908px, 0, 0);
  }
}