* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-screen {
    width: 100%;
    height: auto;
    background-image: url("images/screen.jpg");
    position: absolute;
}

.wrapper {
  overflow: hidden;
}

.sliding-background {
    width: 1362px;
    height: 482px;
    background: url("images/space_background.jpg") repeat-x;
    animation: slide 10s linear infinite;
}

.score-container {
    top: 0px;
    left: 280px;
    right: 454px;
    /*background-image: url("images/score_background.png");*/
}

.score {
    right: 25px;
    /* mask-image: url("images/numbers/0.png"); */
}

.game-container {
    width: 454px;
    height: 482px;
    position: absolute;

    overflow: hidden;
}

.obstacle {
  position: absolute;
  left: 100%;

  width: 112px;
  height: 100px;

  background: url("images/obstacle.png");
}

.start-game {
  --width: 122px;

  position: absolute;

  top: 50%;
  left: calc(50% - (var(--width)/2));
}

.bird {
    --bird-width: 60px;
    position: absolute;
    left: calc(50% - (var(--bird-width)/2));
    width: var(--bird-width);
    height: 33px;

    background-image: url("images/UFO_spaceship.png");
}


@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-908px, 0, 0);
  }
}