.full-screen {
    width: 100%;
    height: auto;
    background-image: url("images/screen.jpg");
    position: absolute;
}

.wrapper {
  overflow: hidden;
}

.sliding-background {
    width: 1362px;
    height: 482px;
    background: url("images/space_background.jpg") repeat-x;
    animation: slide 10s linear infinite;
}

.game-container {
    width: 454px;
    height: 482px;
    position: absolute;
}

/*
.sky {
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    background-color: brown;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
} */

.bird {
    background-image: url("images/UFO_spaceship.png");
    width: 60px;
    height: 33px;
    position: absolute;
}

/*
I will set the place of the gap randomly.
To do that:
    - set a minimum and maximum position (16px, 16px)
    - set the gap size (50 px)
    - set the list of possible gap places (divide by 10px, result: 40)
    - randomize
    - calculate pipe length
    - write js DOM manipulation
 */

.upper_pipe {
    background: url("images/upper_pipe.png");
    animation: slide 10s linear infinite;
    position: relative;
    bottom: 66px;
}

.lower_pipe {
    background: url("images/lower_pipe.png");
    animation: slide 10s linear infinite;
    position: relative;
    top: 66px;
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-908px, 0, 0);
  }
}